language: r
sudo: required
cache: packages
services:
  - docker
r_packages:
  - covr
r_github_packages:
  - richfitz/httppipe
before_script:
  - pip install -U setuptools
  - pip install -U docker
  - docker pull hello-world
  - docker pull alpine
  - docker pull alpine:3.1
  - docker pull bfirsh/reticulate-splines
  - docker pull nginx
  - docker pull redis
  - docker pull bobrik/socat:latest
  - (cd tests/testthat/images && ./build.sh)
  - cp vignettes_src/*.Rmd vignettes
  - sudo pip install -U setuptools
  - sudo pip install -U docker
after_success:
  - Rscript -e 'covr::codecov()'
env:
  - STEVEDORE_TEST_USE_DOCKER=true STEVEDORE_TEST_REQUIRE_DOCKER=true
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - python-numpy
      - python-requests
      - libhiredis-dev
